Mi primera Pagina Web NK.png
mi primera tarea nk.rar
Opera Captura de pantalla_2024-08-08_235128_clase%201.html.png
Programa.PDF
clase 1.html
Clase 2 - CSS y GIT.pdf
DISEÑO DE SOFTWARE.code-workspace
ejemplo-bootstrap-clase2.html
imagen 1.jpg
imagen 2.jpg
imagen 3.jpg
tarea 2 NK.rar